@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

//Set Global Colors
$primary: #3454d1;
$secondary: #121f3e;
$white: #ffffff;
$gray: #96a0b5;
$gray600: #dce1f5;
$gray300: #333333;
$blue100: #ebeefa;
$white100: #f8fafb;
$rgba100: rgba(52, 84, 209, 0.04);
$dangerColor: #DC2626;
$secondaryDanger: #B91C1C;

// Set Sizes

// Heading Size
$heading: 64px;

$base: 16px;
$title: 40px;
$titleH4: 24px;
$btnTxt: 14px;
$font: 18px;

// Radius Sizes
$baseRaduis: 10px;
$secondaryRaduis: 6px;
$circleRadius: 50%;

// Media Queries All Sizes, Min/Max

// For Mobile Devices
$minMobile: 320px;
$maxMobile: 480px;

// For iPads, Tablets
$minIPad: $maxMobile + 1;
$maxIPad: 768px;

// Small Screens, Laptops
$minLaptops: 769px;
$maxLaptops: 1024px;

// Desktops, Large Screens
$minDesktops: 1025px;
$maxDesktops: 1200px;

// Extra Large Screens, TV
$extraLargeScreen: 1201px;

// End Media Queries All Sizes, Min/Max

// Main Transitions 
$minTransition: .5s;
$maxTransition: .7s;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'Manrope', sans-serif !important;
}

.btn-primary-soft {
    padding: 16px 38px;
    border-radius: $baseRaduis;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $blue100;
    color: $primary;
    font-weight: bold;
    font-size: $btnTxt;
    transition: $minTransition;

    &:hover {
        background-color: $gray600 !important;
    }
}


.heading-title {
    font-size: $heading;
    font-weight: 700;
    color: $secondary;
}



// Loader
.page-loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .page-loader div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: $circleRadius;
    animation: page-loader 1.2s linear infinite;
  }
  .page-loader div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .page-loader div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .page-loader div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .page-loader div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .page-loader div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .page-loader div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .page-loader div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .page-loader div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .page-loader div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .page-loader div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .page-loader div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .page-loader div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes page-loader {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

// End Loader


// CLass Utilities For Extra Margins And 
.mt-7 {
    margin-top: 7rem !important;
}

.extra-container-style {
    height: 100vh !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.err-container {
  // box-shadow: rgb(134 162 185 / 24%) 11px 11px 56px -10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  border-radius: $baseRaduis;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  width: 56%;
  margin: auto;

  .err-container__header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 30px;
    padding-bottom: 0;

    .err-ico {
      margin-right: 15px;
      background-color: #FEE2E2;
      /* padding: 11px 19px; */
      color: $dangerColor;
      border-radius: $circleRadius;
      min-width: 45px;
      min-height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 21px;
      }
    }
  }
  .err-header__text {
    margin-bottom: 0;
    font-size: 1.50rem;
  }

  .err-container__body {
    padding: 0 30px;
    p {
      color: #6B868C;
      line-height: 29px;
      width: 90%;
      font-weight: 600;
      margin-left: 4rem;
    }
  }
  .err-container__footer {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    background-color: #F9FAFB;
    padding: 16px;
    display: flex;
    justify-content: flex-end;

    .btns-container {
      display: flex;

      .danger-butn {
        order: 1;
        margin-left: 19px;
        border: 1px;
        outline: none;
        padding: 10px 30px;
        border-radius: $baseRaduis;
        background-color: $dangerColor;
        color: #fff;
        font-weight: 600;
        border: 1px solid;
        transition: $minTransition;

        &:hover {
          background-color: $secondaryDanger !important;
        }
      }
      .white-butn {
        padding: 10px 18px;
        border-radius: $baseRaduis;
        background-color: #fff;
        border: 1px solid #ebeefa;
        font-weight: 500;
      }
    }
  }
}